[Unit]
Description=Apache ZooKeeper
After=network.target
ConditionPathExists=/opt/mesosphere/zookeeper/conf/zoo.cfg
ConditionPathExists=/opt/mesosphere/zookeeper/conf/log4j.properties

[Service]
Type=forking
SyslogIdentifier=mesosphere-zookeeper
WorkingDirectory=/opt/mesosphere/zookeeper
ExecStart=/opt/mesosphere/zookeeper/bin/zkServer.sh start
ExecStop=/opt/mesosphere/zookeeper/bin/zkServer.sh stop
PIDFile=/opt/mesosphere/zookeeper/var/lib/zookeeper/zookeeper_server.pid

User=root
Group=root
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target
